<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/argentina.jpg"></p>
    <p>image from People.com</p>
    <p>This page showcases the favorites to win the 2026 World Cup.</p>
    <p>Each page showcases a national team, their success in the competition, their FIFA ranking, and their captain.</p>
<%- include('../partials/footer') %>