<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/argentina.jpg"></p>
    <p>image from People.com</p>
    <p>2022 World Cup Winner</p>
    <p>FIFA rank 1</p>
    <p>Captained by the greatest of all time</p>
<%- include('../partials/footer') %>