<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/france.jpg"></p>
    <p>image from Wikipedia</p>
    <p>2018 World Cup Winner</p>
    <p>FIFA rank 2</p>
    <p>Captained by Kylian Mbappe</p>
<%- include('../partials/footer') %>