<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p>Pages showcases the favorites to win the World Cup.</p>
    <p>More info on the about page.</p>
    <p>This site utilizes Node.js, Express.js, and EJS.</p>
<%- include('../partials/footer') %>