<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/spain.jpg"></p>
    <p>image from BBC</p>
    <p>2010 World Cup Winner</p>
    <p>FIFA rank 3</p>
    <p>Captained by Rodri</p>
<%- include('../partials/footer') %>